language: elixir

elixir:
  - 1.2.4
  - 1.3.1

otp_release:
  - 18.2
  - 19.1

before_install:
  - sudo apt-get update -qq

after_script:
  - mix deps.get --only docs
  - MIX_ENV=docs mix inch.report
